{{ define "navbar" }}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Private Chatboard</a>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/login">Login</a>
                    <a class="nav-link active" href="/threads">Threads</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{{ end }}