{{ define "content" }}

<div class="list-group">

    {{ range .}}
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ .Topic }}</h5>
            <small class="text-muted">{{ .Id }}, {{ .CreatAt }}</small>
        </div>
        <p class="mb-1">{{ .Topic }}</p>
        <small class="text-muted">Donec id elit non mi porta.</small>
    </a>
    {{ end }}

</div>

{{ end }}